* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;    
}

body {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 150px repeat(2,1fr) 150px;
    grid-template-areas: "header header header" 
                        "article article article" 
                        "Youtube Youtube Spotify" 
                        "footer footer footer";
    background-image: url(../Imagenes/test.gif);
    background-repeat: no-repeat;
    background-size:cover
    
}

header {
    display: flex;
    grid-area: header;
    flex-direction: column;
    align-items: center;

    
    
}

.contenedor {
    display: flex;
    flex-direction: row;
    align-items: center;  
    width: 90%;
    justify-content: space-between;
    margin: auto;
    
}

h1 {
    font-family: 'Dorsa', sans-serif;
    font-size: 10rem;
    text-transform: uppercase; 
    letter-spacing: 15px;
    align-self: flex-start;
    color: azure;
}

nav ul li {
    display: inline-block;
    margin: 0 10px;
}
    
 nav ul li a {
    font-size: 3.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;
    font-family: 'Dorsa', sans-serif;
}

.News {
    display: flex;
    flex-direction: column;
    align-items: center;  
    justify-content: space-between;
    grid-area: article;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 30px 30px 15px 30px;
    margin: 30px 30px 15px 30px;
}

h2 {
    font-family: 'Dorsa', sans-serif;
    text-transform: uppercase;
    font-size: 6rem;
    letter-spacing: 3px;
    color: azure;
}

.News ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.News ul li {
    flex: 1;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

article h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: azure;
    padding: 5px;
    margin: 5px;    
}

article p {
    padding: 5px;
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    letter-spacing: 0.5px;
    color:aliceblue;
}


.Noticias1 {
    padding: 0 50px 0 50px;
    margin: 0 50px 0 50px;
    flex:1;
}

.Noticias2 {
    padding: 0 50px 0 50px;
    margin: 0 50px 0 50px;
    flex:1;

}

.Noticias3 {
    padding: 0 50px 0 50px;
    margin: 0 50px 0 50px;
    flex:1;
}

section {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    
}

section h2 {
    font-family: 'Dorsa', sans-serif;
    text-transform: uppercase;
    font-size: 6rem;
    letter-spacing: 3px;
    color: azure; 
}

.youtube {
    grid-area: Youtube;
    padding: 30px 30px 40px 30px;
    margin: 30px 30px 40px 30px;
    background-color: rgba(255, 255, 255, 0.2);   
}

.Spotify {
    grid-area: Spotify;
    padding: 30px 30px 40px 30px;
    margin: 30px 30px 40px 30px;
    background-color: rgba(255, 255, 255, 0.2);
}

footer {
    background-color: rgba(8, 7, 7, 0.8);
    grid-area: footer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10px;    
}

footer section {
    display: flex;
    flex-direction:row;
    padding: 30px 10px;
}

footer section p {
    padding: 5px;
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    letter-spacing: 0.5px;
    color: azure;   
}

/*DOC BIO*/
.Biografia {
    grid-area: article;
}

.bio {
    padding: 30px 30px 40px 30px;
    margin: 30px 30px 40px 30px;
    background-color: rgba(255, 255, 255, 0.2);
    grid-column-start: repeat(3,1fr);
    grid-row-start: article;
    grid-row-end: Spotify;
}

.bio p {
    padding: 5px;
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    letter-spacing: 0.5px;
    color:aliceblue;

}

.bio img {
    justify-content: center;
    margin: 30px 0 30px 0;
}