@import url("main.css");

body {
    background-image: url(../Imagenes/giphy.gif);
    background-repeat: no-repeat;
    background-size:cover;
}
.musica {
    width: 90%;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.4);
}

section {
    padding: 10px 10px;
    margin: 30px 10px;
}


section ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

section ul li {
    width: 48%;
    margin-bottom: 10px;
}

section ul li img {
    width: 50%;
    display: block;
    margin: auto;
    justify-content: center;
}

@media only screen and (min-width: 401px) and (max-width: 960px) {
    body {
        background-image: url(../Imagenes/giphy.gif);
        background-repeat: no-repeat;
        background-size:cover;
    }
    .musica {
        width: 90%;
        margin: auto;
        background-color: rgba(255, 255, 255, 0.4);
    }
    
    section {
        padding: 10px 10px;
        margin: 30px 10px;
    }
    
    
    section ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    section ul li {
        width: 48%;
        margin-bottom: 10px;
    }
    
    section ul li img {
        width: 50%;
        display: block;
        margin: auto;
        justify-content: center;
    }
}    


@media only screen and (max-width: 400px) {
    body {
        background-image: url(../Imagenes/giphy.gif);
        background-repeat: no-repeat;
        background-size:cover;
    }
    .musica {
        width: 90%;
        margin: auto;
        background-color: rgba(255, 255, 255, 0.4);
    }
    
    section {
        padding: 10px 10px;
        margin: 30px 10px;
    }
    
    
    section ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    section ul li {
        width: 48%;
        margin-bottom: 10px;
    }
    
    section ul li img {
        width: 50%;
        display: block;
        margin: auto;
        justify-content: center;
    }
}    