@import url("main.css");

.videos {
    width: 90%;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.4);
}

section {
    padding: 30px 0;
}


section ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

section ul li {
    width: 48%;
    margin-bottom: 10px;
}

section ul li img {
    width: 50%;
    display: block;
    margin: auto;
    justify-content: center;
}